@require "helpers"

//- colors, ordered light to dark
color1 = #E5E1EE
color2 = #B7C3F3
color3 = #7D8CC4
color4 = #726DA8
color5 = #0D324D

//- navbar attributes
navbar-height = 25px
navbar-font = 'Raleway', sans-serif // Futura, sans-serif
navbar-color = color1
navbar-bg = color5

//- font families
h2-font = 'Raleway', sans-serif // Futura, sans-serif
body-font = 'Raleway', sans-serif // Consolas, sans-serif

//- colors
h2-color = color5

html, body
    height 100%
    width 100%
    border none
    margin 0%
    padding 0%
    display inline-block

//- NAVIGATION BAR
#navbar
    z-index 1
    position fixed
    top 0px
    left 0px
    width calc(100% - 40px)
    height navbar-height
    padding 20 px
    background navbar-bg

#navbar span
    color navbar-color
    font-size 1em
    text-transform lowercase
    font-family navbar-font

#nb-header span
    text-transform uppercase

#nb-items
    float right

#nb-items *
    padding-left 20px

#nb-items a
    color navbar-color
    text-decoration none

#nb-items a:hover
    color navbar-color
    text-decoration underline

#nb-items a:active
    color grey
    text-decoration underline

//- PAGE CONTENT
.content
    position relative
    margin-top 65px
    padding-top 0px
    padding-bottom 0px
    border 0%
    width 100%
    height calc(100% - 65px)

h2
    font-family h2-font
    color h2-color

//- FORM
.form-box
    width calc(100% - 60px - 20%)
    margin-top 0%
    margin-left 10%
    margin-right 10%
    border none
    padding-left 30px
    padding-right 30px
    padding-top 30px
    padding-bottom 30px
    font-family body-font
    text-align Center

.fb-item input
    -webkit-transition-duration 0.8s
    transition-duration 0.8s
    width 60%
    font-family body-font
    border none
    border-bottom 2px solid #babec4
    font-size 20px
    padding 2%
    outline none
    color color5

.fb-item input:placeholder
    color #babec4

.fb-item input:focus
    outline none
    border-bottom 2px solid color4
    color color4

#submit
    outline none
    background-color color3
    border 1px solid color3
    border-radius 48px
    padding 15px
    padding-left 20px
    padding-right 20px
    text-align center
    display inline-block
    font-size 16px
    color white
    font-family body-font

#submit:hover
    outline none
    background-color color4
    border 1px solid color4
    cursor pointer
    font-size 20px
    border-radius 60px

#submit:active
    outline none
    color color5
    font-size 20px
    border-radius 60px

#buttons
    margin-top 0px
    margin-bottom 0px
    width 100%
    height 90%

#buttons button
    outline none
    position relative
    width 100%
    padding 0
    background-color color3
    border 10px solid white
    border-radius 48px
    text-align center
    display inline-block
    font-size 10vh
    color color5
    font-family body-font
    margin 0
    
#buttons button:hover
    cursor pointer
    opacity 0.8
    
#buttons button:active
    opacity 1
    
#path
    margin-top 0px
    margin-bottom 0px
    width 100%
    height 10%
    
#path button
    outline none
    position relative
    width 20%
    height 100%
    padding 0
    background-color color5
    text-align center 
    display inline-block
    font-size 1.5vh
    border none
    color white
    font-family body-font
    margin 0
    //-  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%)
    //-  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%)
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

#path button:hover
    cursor pointer
    opacity 0.8
    
#path button:active
    opacity 1
    
.choice-block
    width 100%
    height 100%

.error-message
    visibility hidden
    color red
    font-weight bold
    text-align left
    padding 1rem 0

.modal
    display none
    position fixed
    left 0
    top 0
    z-index 100
    width 100%
    height 100%
    overflow auto
    background-color #000
    background-color rgba(0, 0, 0, .5)

.modal-content
    max-width 90%
    margin 10% auto
    padding 2rem
    border 1px solid #888
    background-color white
    border-radius 5px
    text-align center
