extends template

block content
    .content
        .choice-block
            #buttons
                // child buttons
            #path
                // button onclick('render(node)')
    .modal#found-users
        .modal-content
            #modal-header
                <span class='close' onclick='hideModal()' style='cursor: pointer; font-size: 16pt; vertical-align: center'>&times;</span>
                #mheader-text
            #modal-body
                #mbody-text
block postscript
    script.
        renderTree('tree[\'start\']')
