extends template

block content
    #js-error-message.error-message
    form          
        .form-box(style='text-align:center')
            h2 Register
            .fb-item
                span Email
                br
                input(type='email' name='email' placeholder='example@gmail.com') 
            .fb-item
                span Password
                br
                input(type='password' name='password' placeholder='******')
            .fb-item
                span Confirm Password
                br
                input(type='password' name='confirm' placeholder='******') 
            button#submit(type='button' onclick='submitUser()') Register

    .modal#js-success
        .modal-content
            h2 Thank you for registering!





