extends template

block content
    .content
        .choice-block
            #buttons
                // child buttons
            #path
                // button onclick('render(node)')
block postscript
    script.
        renderTree('tree.start')