extends template

block content
    .content
        #js-error-message.error-message
        form
            .form-box(style='text-align:center')
                h2 Register
                .fb-item
                    br
                    input(type='text' name='username' placeholder='Noah')
                .fb-item
                    br
                    input(type='email' name='email' placeholder='example@gmail.com') 
                .fb-item
                    br
                    input(type='password' name='password' placeholder='******')
                .fb-item
                    br
                    input(type='password' name='confirm' placeholder='******')
                .fb-item
                    br
                    input(type='number' name='classYear' placeholder='2021')
                .fb-item
                    br
                    input(type='text' name='house' placeholder='Quincy')
                .fb-item
                    br
                    select
                        option(value=a) a
                        option(value=b) b
                        option(value=c) c
                br
                button#submit(type='button' onclick='submitUser()') Register

        .modal#js-success
            .modal-content
                h2 Thank you for registering!





