extends template
block content
    div
        br
        br
        br
        br
        br
        br
        br
    .form-box
        form
            .fb-item
                input(list='interests' name='interest' placeholder='Interests')
                -var values = ['reading', 'watching tv', 'movies', 'fishing', 'gardening', 'working out', 'music', 'sports', 'traveling', 'hiking', 'cooking', 'writing', 'activism', 'feminism', 'running', 'dancing', 'swimming', 'theater', 'bitcoin', 'blockchain', 'cloud computing', 'eecs', 'the business side', 'professional networking', 'wine', 'shopping', 'thrift shopping', 'fashion', 'food', 'memes', 'soccer', 'football', 'tennis', 'gymnastics', 'philosophy', 'coding', 'the feminine mystique', 'yoga', 'pilates', 'gaming', 'sewing', 'cryptography', 'wellness', 'photography', 'art', 'birdwatching', 'astrology', 'go', 'chess', 'surfing', 'extreme sports']
                datalist#interests
                    each val in values
                        option(value=val)
            br
            button#submit(type='submit' onclick='addInterest()') ADD INTEREST
    .table
    .form-box
        span(id='saveInterests')
            button#submit

block postscript
    script.
        renderInterests()
