extends template

block content
    #js-error-message.error-message
    form          
        .form-box(style='text-align:center')
            h2 Log In
            .fb-item
                br
                input(type='email' name='email' placeholder='example@gmail.com') 
            .fb-item
                br
                input(type='password' name='password' placeholder='password')
            br
            button#submit(type='button' onclick='submitUser()') LOG IN 

    .modal#js-success
        .modal-content
            h2 Thank you for registering!





