extends template

block content
    .content
        form          
            .form-box(style='text-align:center')
                h2 log in
                .fb-item
                    br
                    input(type='email' name='email' placeholder='example@gmail.com') 
                .fb-item
                    br
                    input(type='password' name='password' placeholder='password')
                br
                br
                button#submit(type='button' onclick='login()') LOG IN 

        .modal#js-success
            .modal-content
                h2 You logged in