doctype html
html
  head
    title= title || "Day to DaytaMatch"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/fetch.js')
    link(href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:200" rel="stylesheet")
  body
    #navbar
        #nb-header
            a(href='/')
                span home
        #nb-items
            a(href='/register')
                span register
            a(href='/login')
                span login
            a(href='/logout')
                span logout
            
            #nb-profpic
    block content
    script(src='/js/script.min.js')
    if token
        script localStorage.token = "#{token}"

block postscript
    script.
        window.onclick = function(event) {
            if (event.target==document.getElementById('js-success')) {
                document.getElementById('js-success').style.display = 'none'
            }
        }