doctype html
html
  head
    title= title || "Encounter++"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/fetch.js')
    link(href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:200" rel="stylesheet")
  body
    #navbar
        #nb-header
            a(href='/')
                img(src='/img/logo.png' alt='encounter++' height='50')
        #nb-items
            div(class='dropdown')
                button(class='dropbtn') &#9776;
                div(class='dropdown-content')
                    a(href='/register')
                        span register
                    a(href='/login')
                        span login
                    a(onclick='logout()')
                        span logout
    block content
    script(src='/js/script.min.js')
    if token
        script localStorage.token = "#{token}"

block postscript
    script.
        window.onclick = function(event) {
            if (event.target==document.getElementById('js-success')) {
                document.getElementById('js-success').style.display = 'none'
            }
        }
